@import "reset";
@import "base";
@import "transitions";

* {
  font-family: $font;
}

.inner-page {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: $text_headline;
  }
}

@media (min-width: 761px) {
  .desktop-only {
    display: none;
  }

  .tablet-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }
}

@media (min-width: 1025px) {
  .desktop-only {
    display: initial;
  }

  .tablet-only {
    display: none;
  }

  .mobile-only {
    display: none;
  }
}



@include tablet() {
  .desktop-only {
    display: none;
  }

  .inner-page {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@include mobile() {
  .desktop-only {
    display: none;
  }
}
