@import "reset";
@import "base";
@import "transitions";

* {
  font-family: $font;
}

.inner-page {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: $text_headline;
  }
}


